docs/n8n-workflows/templates/meta-ads.json
{
    "name": "Meta Ads – Pipeline de Relatórios (CRM SaaS)",
    "nodes": [{
            "id": "1",
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [250, 250]
        },


        {
            "id": "2",
            "name": "Listar Contas de Anúncio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [600, 250],
            "parameters": {
                "url": "https://graph.facebook.com/v19.0/me/adaccounts",
                "method": "GET",
                "authentication": "headerAuth",
                "headerParametersUi": {
                    "parameter": [{
                        "name": "Authorization",
                        "value": "Bearer {{META_ACCESS_TOKEN}}"
                    }]
                },
                "queryParametersUi": {
                    "parameter": [{
                        "name": "fields",
                        "value": "id,name,account_status,currency,timezone_name"
                    }]
                }
            }
        },


        {
            "id": "3",
            "name": "Enviar Contas ao CRM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [950, 250],
            "parameters": {
                "method": "POST",
                "url": "{{CRM_WEBHOOK_URL}}/meta/adaccounts",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={ \"tenantId\": \"{{$json[\"tenantId\"]}}\", \"adAccounts\": {{$json[\"data\"]}} }"
            }
        },


        {
            "id": "4",
            "name": "Webhook – Seleção de Conta",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [250, 600],
            "parameters": {
                "httpMethod": "POST",
                "path": "crm/meta/selecionar-conta",
                "responseMode": "onReceived",
                "options": {
                    "rawBody": false
                }
            }
        },


        {
            "id": "5",
            "name": "Listar Campanhas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [600, 600],
            "parameters": {
                "url": "={{\"https://graph.facebook.com/v19.0/\" + $json[\"adAccountId\"] + \"/campaigns\"}}",
                "method": "GET",
                "authentication": "headerAuth",
                "headerParametersUi": {
                    "parameter": [{
                        "name": "Authorization",
                        "value": "Bearer {{META_ACCESS_TOKEN}}"
                    }]
                },
                "queryParametersUi": {
                    "parameter": [
                        { "name": "fields", "value": "id,name,status,objective" }
                    ]
                }
            }
        },


        {
            "id": "6",
            "name": "Enviar Campanhas ao CRM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [950, 600],
            "parameters": {
                "method": "POST",
                "url": "{{CRM_WEBHOOK_URL}}/meta/campaigns",
                "jsonParameters": true,
                "bodyParametersJson": "={ \"tenantId\": \"{{$json[\"tenantId\"]}}\", \"adAccountId\": \"{{$json[\"adAccountId\"]}}\", \"campaigns\": {{$json[\"data\"]}} }"
            }
        },


        {
            "id": "7",
            "name": "Webhook – Seleção de Campanha",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [250, 950],
            "parameters": {
                "httpMethod": "POST",
                "path": "crm/meta/selecionar-campanha",
                "responseMode": "onReceived"
            }
        },


        {
            "id": "8",
            "name": "Listar Conjuntos (AdSets)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [600, 950],
            "parameters": {
                "url": "={{\"https://graph.facebook.com/v19.0/\" + $json[\"campaignId\"] + \"/adsets\"}}",
                "method": "GET",
                "authentication": "headerAuth",
                "queryParametersUi": {
                    "parameter": [
                        { "name": "fields", "value": "id,name,status" }
                    ]
                },
                "headerParametersUi": {
                    "parameter": [
                        { "name": "Authorization", "value": "Bearer {{META_ACCESS_TOKEN}}" }
                    ]
                }
            }
        },


        {
            "id": "9",
            "name": "Listar Anúncios",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [950, 950],
            "parameters": {
                "url": "={{\"https://graph.facebook.com/v19.0/\" + $json[\"campaignId\"] + \"/ads\"}}",
                "method": "GET",
                "authentication": "headerAuth",
                "queryParametersUi": {
                    "parameter": [{
                        "name": "fields",
                        "value": "id,name,status,creative{id,name,thumbnail_url}"
                    }]
                },
                "headerParametersUi": {
                    "parameter": [
                        { "name": "Authorization", "value": "Bearer {{META_ACCESS_TOKEN}}" }
                    ]
                }
            }
        },


        {
            "id": "10",
            "name": "Buscar Métricas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [600, 1250],
            "parameters": {
                "url": "={{\"https://graph.facebook.com/v19.0/\" + $json[\"campaignId\"] + \"/insights\"}}",
                "method": "GET",
                "authentication": "headerAuth",
                "queryParametersUi": {
                    "parameter": [
                        { "name": "date_preset", "value": "last_7d" },
                        { "name": "time_increment", "value": "1" },
                        {
                            "name": "fields",
                            "value": "spend,impressions,reach,clicks,ctr,cpc,cpm,actions,action_values"
                        }
                    ]
                },
                "headerParametersUi": {
                    "parameter": [{
                        "name": "Authorization",
                        "value": "Bearer {{META_ACCESS_TOKEN}}"
                    }]
                }
            }
        },


        {
            "id": "11",
            "name": "Montar Payload Final",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [950, 1250],
            "parameters": {
                "functionCode": "const insights = items[0].json.data || [];\n\nreturn [{ json: {\n  tenantId: $json.tenantId,\n  campaignId: $json.campaignId,\n  adAccountId: $json.adAccountId,\n  metrics: insights[0] || {},\n  timeline: insights.map(i => ({\n    date: i.date_start,\n    spend: i.spend,\n    impressions: i.impressions,\n    clicks: i.clicks\n  }))\n}}];"
            }
        },


        {
            "id": "12",
            "name": "Enviar Relatório ao CRM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [1300, 1250],
            "parameters": {
                "method": "POST",
                "url": "{{CRM_WEBHOOK_URL}}/meta/report",
                "jsonParameters": true,
                "bodyParametersJson": "={{$json}}"
            }
        }
    ],

    "connections": {
        "Start": { "main": [
                [{ "node": "Listar Contas de Anúncio", "type": "main", "index": 0 }]
            ] },
        "Listar Contas de Anúncio": { "main": [
                [{ "node": "Enviar Contas ao CRM", "type": "main", "index": 0 }]
            ] },
        "Webhook – Seleção de Conta": { "main": [
                [{ "node": "Listar Campanhas", "type": "main", "index": 0 }]
            ] },
        "Listar Campanhas": { "main": [
                [{ "node": "Enviar Campanhas ao CRM", "type": "main", "index": 0 }]
            ] },
        "Webhook – Seleção de Campanha": { "main": [
                [{ "node": "Listar Conjuntos (AdSets)", "type": "main", "index": 0 }]
            ] },
        "Listar Conjuntos (AdSets)": { "main": [
                [{ "node": "Listar Anúncios", "type": "main", "index": 0 }]
            ] },
        "Listar Anúncios": { "main": [
                [{ "node": "Buscar Métricas", "type": "main", "index": 0 }]
            ] },
        "Buscar Métricas": { "main": [
                [{ "node": "Montar Payload Final", "type": "main", "index": 0 }]
            ] },
        "Montar Payload Final": { "main": [
                [{ "node": "Enviar Relatório ao CRM", "type": "main", "index": 0 }]
            ] }
    }
}